# History files
.Rhistory

# Example code in package build process
*-Ex.R

# libs
# lib
.jar

# Other data files
.geojson


# R data files from past sessions
.Rdata
.RData
.Rproj.user


# About Shinyapps deployment
shinyapps
deploy.R

# Other files
shit.R
.png
